#forward {
  background-image: url(../Pictures/1470856478_right.png);
  background-repeat: no-repeat;
  background-color:white;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  border: none;
  cursor:pointer;
}
#loader {
    text-align:center;
    display:none; 
}
#fwd,#send {
    text-align:center;
    margin:3% 0%;
}
.field-validation-error 
{
    color: Red;
}
#container {
    width:30%;
    margin: 0 auto;
}