@model Ig2.Models.PlainHolders.FoundItems
@using Ig2.Models.PlainHolders;
<div>
    <div>
        <button type="button" id="forward">&rarr;</button>
        <div>
            <table>
                @foreach(ItemInfo item in Model.ItemList)
                {
                <tr>
                    <td><img src="@item.img" /></td>
                    <td>@item.title</td>
                    <td>@item.price</td>
                    <td id="currency">@</td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/Functions.js"></script>