@model Ig2.Models.PlainHolders.SearchInfo
@using Ig2.Models.Sectors
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
          <meta name="viewport" content="width=device-width" />
          <script src="~/Scripts/jquery-3.1.0.min.js"></script>
          <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
          <script src="~/Scripts/jquery.validate.min.js"></script>
          <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>         
          <script src="~/Scripts/Functions.js"></script>
          <script src="~/Scripts/bootstrap.min.js"></script>
          <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
          <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
          
          <title>Search for crap</title>
    </head>
    <body>
          <div id="container">
           @using (Ajax.BeginForm("getList", "Search", new AjaxOptions()
           {
               UpdateTargetId = "content",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST",
               LoadingElementId = "loader"
           }
           ))
           {
           <fieldset class="form-group">
               @Html.TextBoxFor(x => x.neededItem, new { @class = "form-control", placeholder = "Enter item name" })
               @Html.ValidationMessageFor(x => x.neededItem)
               @Html.DropDownListFor(x => x.searchIndex, new SelectList(AllSectors.selectList, "Value", "Text"),new { @class = "form-control"})
           </fieldset>
           <div>
               <select id="currency"></select>
           </div>
            <div id="send">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
           }     
           </div>
           <div id="content"></div>
           <div id="loader">
               <img src="~/Pictures/ajax-loader.gif" />
           </div>
    </body>
</html>
